---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Yomogi&family=Zen+Kurenaido&display=swap');

body {
  font-family: 'Helvetica Neue', 'M PLUS 1p', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Yomogi', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}

a.button {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: 'Architects Daughter', 'Helvetica Neue', 'M PLUS 1p', Helvetica, Arial, serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}

#main-content h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:  'M PLUS 1p', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 24px;
  font-weight: bold;
  color: #474747;
  text-indent: 6px;
  letter-spacing: -1px;
}

#main-content h2 {
  margin-bottom: 8px;
  font-family: 'M PLUS 1p', 'Architects Daughter', 'Helvetica Neue', 'M PLUS 1p', Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: bold;
  color: #474747;
  text-indent: 4px;
}

#main-content h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: 'M PLUS 1p', 'Architects Daughter', 'Helvetica Neue', 'M PLUS 1p', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  color: #474747;
  text-indent: 3px;
}

#main-content h4 {
  margin-bottom: 8px;
  font-family: 'M PLUS 1p', 'Architects Daughter', 'Helvetica Neue', 'M PLUS 1p', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: bold;
  color: #474747;
  text-indent: 3px;
}

#main-content h5 {
  margin-bottom: 8px;
  font-family: 'M PLUS 1p', 'Architects Daughter', 'Helvetica Neue', 'M PLUS 1p', Helvetica, Arial, serif;
  font-size: 14px;
  color: #474747;
  text-indent: 3px;
}

#main-content h6 {
  margin-bottom: 8px;
  font-family: 'M PLUS 1p', 'Architects Daughter', 'Helvetica Neue', 'M PLUS 1p', Helvetica, Arial, serif;
  font-size: .8em;
  color: #474747;
  text-indent: 3px;
}
